body{
    font-family: onest, sans-serif;
    background-color:#6290FC ;
    color:#ef610a;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Grenze Gotisch", Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
h1{
    font-size: x-large;
}
h2{
    font-size: xx-large ;
}
header{
    text-align: center;
}
#hero, footer {
    color:black;
    border: 2px solid ;
    background-color: rgb(252, 101, 6);
    text-align:center;
    padding:10px;
}
#hero img{
    width: 300px;
}
#bio{
    text-align:center;
}
#hobbies ul li:nth-child(even){
    color:aquamarine;
}
