
body {
    font-family: onest, sans-serif;
    background-color: #6290FC;
    color: #ef610a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Grenze Gotisch", Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: xx-large;
    margin: .1em;
}

header {
    text-align: center;
}

#hero, footer {
    color: black;
    border: 2px solid;
    background-color: rgb(252, 101, 6);
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.75);
}

/* Hero Section */
#hero img {
    width: 300px; /* Fixed width for larger screens */
}

/* Bio Section */
#bio {
    text-align: center;
    color: red;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

/* Hobbies Section */
#hobbies {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobby-list {
    list-style: none;
    padding: 0;
}

.hobby-list li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px rgba(255, 132, 1, 0.3);
    display: flex;
    align-items: center;
}

.hobby-list li:nth-child(even) {
    color: aquamarine;
    background-color: #3498db;
    color: white;
    text-shadow: 1px 1px 2px rgb(255, 0, 0);
}

/* Gallery Section */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

#gallery img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
/* Hover effect to scale image */
#gallery img:hover {
    transform: scale(1.1);
}

#gallery figure {
    text-align: center;
    margin: 0;
}

#gallery figcaption {
    padding: 20px;
}

/* Literature Section */
#lit {
    border: 2px solid black;
    margin-bottom: 2rem;
    color: red;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear: both;
}

#lit div p:first-child:first-letter {
    font-size: 2rem;
    color: red;
    float: left;
    margin-right: 6px;
    font-family: "Grenze Gotisch", Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
    border: 2px solid red;
    padding: 4px;
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

/* Responsive design for tablet size */
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    figure img {
        width: 100%;
    }
    #lit div {
        max-width: 100%;
        columns: 20rem;
    }
}

/* Responsive design for large screen size */
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}

/* Embedding Styles for Videos 
Alignment implementations*/
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
    text-align: center;
    padding-bottom: 20px;
}

.video h2 {
    padding-bottom: 10px;
    text-align: center;
}
/* Adjust the width considering the padding 
 Ensures the container spans the full height of .video */
#myVideo {
    width: calc(100% - 40px); 
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px; 
}
/* Responsive width and height
Double height for larger screen and maintain aspect ratio */
#myVideo iframe {
    width: 100%; 
    height: 100%;
    max-height: 1000px; 
    object-fit: contain;
    margin: auto;
}

/* Additional Responsive Styles 
Maintains right padding for diffrent sizes*/
@media only screen and (max-width: 375px) {
    .video {
        height: auto; 
    }

    #myVideo iframe {
        max-width: 95%;
        max-height: none;
    }
}

@media only screen and (max-width: 768px) {
    #myVideo iframe {
        max-width: 95%; 
        max-height: none; 
    }
}
/* heights and widths for larger and medkium screens*/
@media screen and (min-width: 1024px) {
    .video {
        height: 1000px; 
    }
    
    #myVideo iframe {
        max-width: 900px; 
        max-height: 1000px;
    }
}

/* contact Form*/

#formElements{
    display:grid;
}