body, h1, table {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
}
/* Centers the table container */
.table-container {
  width: 90%;
  margin: 2em auto;
  overflow-x: auto;
}
/* Style for h1 element */
h1 {
  text-align: center;
  color: #000000;
  text-shadow:2px 2px 2px #fff;
  font-size: 2em;
  margin-bottom: 0.5em;
}
/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
/* Style for table head */
thead {
  background-color: #555;
  color: #fff;
}
/* Style for table headers */
th {
  padding: 1em;
  text-align: left;
  font-size: 1em;
}
/* Style for table body */
tbody tr {
  border-bottom: 1px solid #ddd;
}
/* Style for table body data */
td {
  padding: 1em;
  text-align: left;
  font-size: 0.9em;
}
/* Hover effect for rows */
tbody tr:hover {
  background-color: #f4f4f4;
}
/* Style for comments column to italicize text */
td:last-child {
  font-style: italic;
  color: #555;
}
 /* Set the background image and make sure it covers the entire page */
body {
  background-image: url('fragment.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.table-container {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*responsive*/
@media screen and (max-width: 600px) {
  thead {
    display: none;
  }
  tbody td {
    display: block;
    padding: 0.6em;
  }
  tbody tr td:first-child {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  tbody tr {
    margin-bottom: 1em;
    display: block;
  }
  tbody tr:hover {
    background-color: inherit;
  }
}
