/* CSS for styling the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* background for header */
header {
    background-color: #ed8a73;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}
/* header 2 style */
h2 {
    color: #000;
    text-shadow: 2px 1px 2px #fff;
}
/* header 3 style */
h3{
    color:#000;
    text-shadow:2px 1px 2px #fff;
    text-align: center;
    font-size:xx-large;
}
/* Main Section Styles */
main {
    margin: 20px;
    background-color: lightblue;
    padding: 20px;
}
/* unordered list style */
ul {
    list-style: none;
    padding: 0;
}
/* list item style */
ul li {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #ed8a73;
    text-shadow: 1px 1px 2px #000000;
}

/* Style for portfolio webpages */
ul li a {
    background-color: rgb(253, 60, 27);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    text-decoration: none;
    color: #000;
}
/* gallery style */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
}

/*Maintain the aspect ratio
*Shadows
*smoother hover effect */
#galley img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    cursor: pointers;
}

/* hover effect to scale to 110% when hovered*/
#gallery img:hover {
    transform: scale(1.1);
}

#gallery figure {
    text-align: center;
    margin:0;
    
}
#gallery figcaption{
    padding: 20px;
}
/* box shadow for images */
.image-gallery img {
    max-width: 100%;
    box-shadow: 3px 3px 6px #000;

}
/* Footer section style */
footer {
    text-align: center;
    color: #ed8a73;
    text-shadow: 1px 1px 2px #000;
}